* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "poppins", "sans-serif";
}

/* navbar new */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: #ccd5ae;
  border-bottom: 4px solid black;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: black;
  font-family: "poppins";
}

.navbar .navbar-nav a {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 0.8rem;
  color: black;
  font-family: "poppins";
}

.navbar .navbar-nav a:hover {
  color: white;
}

.navbar .navbar-icon {
  display: flex;
  color: black;
}

.navbar .navbar-icon :hover {
  color: white;
}

#search-menu,
#save-menu,
#inbox-menu,
#hamburger-menu {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

#hamburger-menu {
  display: none;
}

/* navbar new end */

/* section */
.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10%;
  text-align: center;
}

.page-img {
  width: 650px;
  height: 500px;
}

/* section end */

/* kota tujuan */

.nama,
.promo,
.feedback {
  text-align: center;
  margin-bottom: 3rem;
}

.tujuan,
.event {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.kota {
  text-align: center;
  margin-left: 2rem;
}

.iklan {
  text-align: center;
  margin-left: 3rem;
}

.kota p {
  max-width: 20rem;
  text-align: center;
}

.event img {
  width: 380px;
  height: 195px;
}

.active {
  right: 0 !important;
}

/* kota tujuan end */

/* media queries Tablet */
@media (max-width: 758px) {
  html {
    font-size: 75%;
  }

  .page {
    background-image: url(../img/Page.jpg);
  }

  .page img {
    display: none;
  }
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #ccd5ae;
    width: 15rem;
    height: 50vh;
    transition: 0.5s;
    border-radius: 10px;
  }

  .navbar .navbar-nav a {
    padding: 0.4rem;
    display: block;
  }
}

/* media queries tablet end */
