* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "poppins", "sans-serif";
}

body {
  background-color: #f0f0f0;
}

/* navbar new */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background-color: #ccd5ae;
  border-bottom: 4px solid black;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: black;
  font-family: "poppins";
}

.navbar .navbar-nav a {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 0.8rem;
  color: black;
  font-family: "poppins";
}

.navbar .navbar-nav a:hover {
  color: white;
}

.login {
  position: relative;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #ccd5ae;
  border: none;
  cursor: pointer;
  font-family: "poppins";
}

.login:hover {
  color: white;
}
.navbar .navbar-icon {
  display: flex;
  color: black;
}

.navbar .navbar-icon :hover {
  color: white;
}

#search-menu a,
#save-menu a,
#inbox-menu a,
#hamburger-menu {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  color: black;
}

#hamburger-menu {
  display: none;
}

.active {
  right: 0 !important;
}

/* navbar new end */

/* login */
.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  padding: 15px 10%;
  text-align: center;
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: center;
}

.page.show .form-container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  background: white;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 998;
  padding: 25px;
  border-radius: 14px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}

.form-container .close {
  display: flex;
}

.signup-form {
  display: none;
}

.form-container.active .signup-form {
  display: block;
}
.form-container.active .login-form {
  display: none;
}

.input-box {
  position: relative;
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.input-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1.5px solid #aaa;
}

.input-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.option-field {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  margin-top: 10px;
}

.form-container a {
  color: #7d2ae8;
  font-size: 12px;
}
.form-container a:hover {
  text-decoration: underline;
}

.checkbox {
  display: flex;
  white-space: nowrap;
  font-size: 12px;
}

.button {
  background: #7d2ae8;
  width: 100%;
  font-weight: 600;
  border: none;
  border-radius: 13px;
  padding: 5px 10px;
  margin-top: 10px;
}

.button:hover {
  background: #d0a2f7;
}

.login-signup {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

/* login end */

/* kota tujuan */
.nama,
.promo {
  text-align: center;
  margin-bottom: 1rem;
}

.tujuan,
.event {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.kota h3 {
  text-align: center;
  margin: auto;
  color: black;
}

.kota p {
  max-width: 20rem;
  text-align: center;
  margin: auto;
  margin-bottom: 4rem;
}

.event img {
  width: 380px;
  height: 195px;
}

/* kota tujuan end */

/* feeback carousel */

.teks h3 {
  display: block;
  text-align: center;
  padding-top: 5rem;
}

.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.testimoni {
  position: relative;
  max-width: 900px;
  width: 100%;
  overflow: hidden;  
}

.testi-content {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testi-content img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10px;
}

.testi-content p {
  align-items: center;
  max-width: 600px;
  margin: auto;
}

.details span {
  display: flex;
  flex-direction: column;
}

.details .name {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}

.details .job {
  font-size: 13px;
}

/* feeback carousel end */

/* Profile Tim */
.kontak {
  background-color: #9db2bf;
  padding-top: 5rem;
  text-align: center;
  border-bottom: 3px solid white;
}

.kontak p {
  font-size: 15px;
  text-align: center;
  max-width: 40rem;
  margin: auto;
  margin-bottom: 1rem;
}

.border-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  margin: 0 1rem 1rem;
}

.card-img {
  color: black;
  width: 280px;
  height: 280px;
  border: 4px solid;
  border-radius: 30px;
  margin: 1rem;
}

.card-content p,
a {
  font-size: 1.2rem;
  min-height: 5px;
  color: black;
  margin-bottom: 5px;
}

.support {
  color: white;
  text-align: center;
  background-color: #19376d;
}

.support img {
  width: 3%;
  margin: 10px 5px;
}

.support p {
  font-size: 15px;
}

/* kontak end */

/* media queries Tablet */
@media (max-width: 800px) {
  html {
    font-size: 75%;
  }

  .page {
    background-image: url(../img/background.png);
  }

  .page img {
    display: none;
  }

  #hamburger-menu {
    display: inline-block;
    cursor: pointer;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #ccd5ae;
    width: 15rem;
    height: 25vh;
    transition: 0.5s;
    border-bottom-left-radius: 10px;
  }

  .navbar .navbar-nav a {
    padding: 0.4rem;
    margin-left: 2rem;
    display: block;
  }

  .login {
    margin-left: 2.2rem;
  }
  .tujuan,
  .event {
    flex-wrap: wrap;
  }
}
/* media queries tablet end */
