.c_pilih-frame {
    width: 100%;
    overflow: hidden;
    max-width: 1920px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
  }
  
  .c_pilih-text {
    width: 100%;
    max-width: auto;
    margin-top: 0;
    min-height: auto;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_pilih-text01 {
    color: #000;
    font-size: 32px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_pilih-text02 {
    width: 100%;
    max-width: auto;
    margin-top: 0;
    min-height: auto;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_pilih-text03 {
    color: #000;
    font-size: 28px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_pilih-text04 {
    width: 100%;
    max-width: auto;
    margin-top: 0;
    min-height: auto;
    text-align: center;
    margin-bottom: 0;
  }
  
  .c_pilih-text05 {
    color: #000;
    font-size: 18px;
    font-style: normal;
    margin-top: 0;
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_pilih-text06 {
    width: 100%;
    max-width: auto;
    margin-top: 0;
    min-height: auto;
    text-align: center;
    margin-bottom: 0;
  }
  
  .c_pilih-text07 {
    color: #000;
    font-size: 18px;
    font-style: normal;
    margin-top: 0;
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_pilih-text08 {
    width: 100%;
    max-width: auto;
    margin-top: 0;
    min-height: auto;
    text-align: center;
    margin-bottom: 0;
  }
  
  .c_pilih-text09 {
    color: #000;
    font-size: 18px;
    font-style: normal;
    margin-top: 0;
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_pilih-text10 {
    width: 100%;
    max-width: auto;
    margin-top: 0;
    min-height: auto;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_pilih-text11 {
    color: #000;
    font-size: 28px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_pilih-text12 {
    width: 100%;
    max-width: auto;
    margin-top: 0;
    min-height: auto;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_pilih-text13 {
    color: #000;
    font-size: 28px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_pilih-rectangle,
  .c_pilih-rectangle1,
  .c_pilih-rectangle2 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 466px;
  }